environment             = "prod"
location                = "uksouth"
resource_group_name     = "rg-claimsight-prod"
storage_account_name    = "<globally-unique-storage-account-name>"
key_vault_name          = "<globally-unique-key-vault-name>"
workspace_name          = "dbw-claimsight-prod"
db_storage_account_name = "<globally-unique-dbricks-storage-name>"
